{% extends 'base.html.twig' %}

{% block title %}
    Calculate A Calculation
{% endblock %}

{% block body %}
    <div class="container">
        <div class="calculator">
            {{ form_start(calculatorForm) }}

            {{ form_row(calculatorForm.calculation, {'value': result}) }}

            <div class="buttons">
                {% for i in 9..0 %}
                    <button type="button" data-input="{{ i }}">
                        {{ i }}
                    </button>
                {% endfor %}

                <button type="button" data-input=".">
                    .
                </button>

                {% for i in ['*', '+', '-', '/'] %}
                    <button type="button" data-input="{{ i }}">
                        {{ i }}
                    </button>
                {% endfor %}

                <button type="submit" class="submit">
                    <span class="hidden">Calculate</span>
                    =
                </button>

                <button type="button" data-clear="true">
                    Clear
                </button>
            </div>

            {{ form_end(calculatorForm) }}
        </div>
    </div>
{% endblock %}
